@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root{
    --branco-princial: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azil: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--branco-princial);
}

.cor__principal{
    color: var(--branco-princial);
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2em;
}

.container__caixa{
    margin: 0 6em  ;
}

.titulo__principal{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--botao-azil);
    color: var(--branco-princial);
    text-decoration: none;
    border-radius: 5px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: #aeccf0;
    color: #00030C;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-princial);
    text-decoration: none;
    color: var(--branco-princial);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario{
    align-items: center;
}

.terceario{
    display: flex;
    
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
   /* color: var(--branco-princial);*/
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.terceario__texto{
    margin-left: 12em;
}

.secundario__botao{
    margin-left: 12em;
}

.secundario__imagem{
    width: 80%;
    margin: 0 9em;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}



.dispostivos{
    text-align: center;    
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.disitivos__titulo{
    font-size: 48px;
    color: var(--branco-princial);
}



.disitivos__item{
    font-size: 32px;
    color: var(--branco-princial);
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape__lista{
    display: flex;
    flex-direction: row;
}



.lista__link, a{
    list-style-type: none;
    text-decoration: none;
    margin: 2em 1em;
    color: var(--branco-princial);
    font-size: 16px;
}

.lista__link a:hover{
    color: var(--botao-azil);
}

.rodape__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
}







